@font-face {
    font-family: 'couture';
    src: url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff2'),
         url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #161C29;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
}

#blob1 {
    width: 350px;
    height: 250px;
    background: rgb(2,0,36);
    background: linear-gradient(
        to right,
        rgba(13,17,25,1) 0%,
        rgba(57,68,93,1) 100%
    );
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation: rotate 22s linear infinite;
}

#blob2 {
    width: 250px;
    height: 350px;
    background: rgb(2,0,36);
    background: linear-gradient(
        to right,
        rgba(57,68,93,1) 0%,
        rgba(13,17,25,1) 100%
    );
    transform: rotate(90deg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotate 11s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50 % {
        scale: 1 1.5;
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.container {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255, 0.2) 1px, transparent 0);
    background-size: 5vmin 5vmin;
    backdrop-filter: blur(50px);
    overflow-y: auto;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#title {
    color: #FCBE24;
    font-size: 4em;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pro {
    font-family: 'JetBrains Mono', monospace;
}

#pace {
    font-family: 'couture', sans-serif;
}

#underscore {
    font-family: 'JetBrains Mono', monospace;
}

#pace_logo {
    background: rgba(13,17,25,0.5);

    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid #FCBE24;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption {
    color: #FCBE24;
    font-size: .5em;
}

#transcript {
    color: #FCBE24;
    font-size: 0.5em;
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

#user {
    font-size: 1em;
}