@font-face {
    font-family: 'couture';
    src: url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff2'),
         url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #161C29;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#title {
    color: #FCBE24;
    font-size: 4em;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pro {
    font-family: 'JetBrains Mono', monospace;
}

#pace {
    font-family: 'couture', sans-serif;
}

#underscore {
    font-family: 'JetBrains Mono', monospace;
}

#pace_logo {
    background: #161c29;

    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid #FCBE24;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption {
    color: #FCBE24;
    font-size: .5em;
}

#transcript {
    color: #FCBE24;
    font-size: 0.5em;
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
}

#user {
    font-size: 1em;
}