@font-face {
    font-family: 'couture';
    src: url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff2'),
         url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    color: #FCBE24;
}

body {
    background: rgb(13,17,25);
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-blob {
    width: 100%;
    height: 100%;
    position: absolute;
}

#blob {
    height: 150px;
    aspect-ratio: 1/1;
    animation: rotate 22s infinite;
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgb(2,0,36);
    background: linear-gradient(
        to right,
        rgba(13,17,25,1) 0%,
        rgba(57,68,93,1) 100%
    );
    border-radius: 50%;
}

#blob1 {
    width: 350px;
    height: 250px;
    background: rgb(2,0,36);
    background: linear-gradient(
        to right,
        rgba(13,17,25,1) 0%,
        rgba(57,68,93,1) 100%
    );
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation: rotate 22s linear infinite;
}

#blob2 {
    width: 250px;
    height: 350px;
    background: rgb(2,0,36);
    background: linear-gradient(
        to right,
        rgba(57,68,93,1) 0%,
        rgba(13,17,25,1) 100%
    );
    transform: rotate(90deg);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotate 11s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50 % {
        width: 250px;
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.container {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at 1px 1px, rgba(255,255,255, 0.2) 1px, transparent 0);
    background-size: 5vmin 5vmin;
    backdrop-filter: blur(50px);
    overflow-y: auto;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#title {
    font-size: 3em;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pro {
    font-family: 'JetBrains Mono', monospace;
}

#pace {
    font-family: 'couture', sans-serif;
}

#underscore {
    font-family: 'JetBrains Mono', monospace;
}

#pace_logo {
    background: rgba(13,17,25,0.5);

    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 2px solid #FCBE24;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






#transcript {
    font-size: 1em;
    position: absolute;
    top: 90%;
    right: 5%;
    text-align: left;
    transform: translate(5%, -90%);
    width: 500px;
    height: 250px;
    overflow: hidden;
    border: 2px solid #FCBE24;
    border-radius: 2%;
    font-weight: 200;
    font-size: 0.5em;
    container-type: inline-size;
}

#transcript hr {
    margin: 5px
}

#transcript h1 {
    padding: 15px 15px 0px 15px;
}

#user {
    text-align: right;
    height: 10%;
    color: #757474;
    container-type: inline-size;
}

#query-text {
    color: #878787;
    font-size: 2cqi;
    overflow: hidden;
}

#pace-txt {
    height: 20%;
    width: 100%;
    container-type: inline-size;
}

#response-text {
    color: #b1b0b0;
    font-size: 2cqi;
    overflow: hidden;
    height: 100%;
    display: inline-block;
}

#input {
    height: 20%;
    margin-top: 25px;
    color: #757474;
}

#input input {
    width: 80%;
    background: none;
    border: 1px solid #FCBE24;
}


.header {
    font-size: 2.5em;
    padding: 5px;
}



.time {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.2em;
}



.ip {
    font-weight: 100;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1em;
    padding: 5px;
    border: 2px solid #FCBE24;
    border-radius: 5px;
}

.ip #ipaddress {
    font-weight: 900;
    color: #b0b0b0;
}