@font-face {
    font-family: 'couture';
    src: url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff2'),
         url('https://aescamilla.tk/james/src/couture-bld-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    color: #FCBE24;
}

body {
    background: #161C29;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

#title {
    font-size: 3em;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pro {
    font-family: 'JetBrains Mono', monospace;
}

#pace {
    font-family: 'couture', sans-serif;
}

#underscore {
    font-family: 'JetBrains Mono', monospace;
}

#pace_logo {
    background: #161c29;

    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 2px solid #FCBE24;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption {
    font-size: .5em;
}

#transcript {
    font-size: 1em;
    position: absolute;
    top: 90%;
    right: 5%;
    text-align: left;
    transform: translate(5%, -90%);
    width: 500px;
    height: 80px;
    overflow: hidden;
    
}

#input {
    border: 2px solid #FCBE24;
    width: 475px;
    border-radius: 5px;
    font-size: 0.5em;
    position: absolute;
    padding: 5px;
    top: 90%;
    right: 5%;
    text-align: center;
    transform: translate(5%, 0);
}

#inputline {
    width: 60%;
    height: 110%;
    background: none;
    height: 100%;
    color: white;
}

#user {
    font-size: 1em;
}

#pace-txt {
    font-size: 1em;
    height: 100%;
    width: 100%;
}

.time {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.2em;
}

.news {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.2em;

    width: 20%;
    max-height: 30%;
    overflow: auto;
    border: 2px solid #FCBE24;
    border-radius: 2%;
}

#newsItems {
    font-size: 0.7em;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#news {
    font-size: 1.5em;
    padding: 5px;
}

.news-item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #FCBE24;
    border-radius: 2%;
}

.ip {
    font-weight: 100;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 1em;
}

.ip #ipaddress {
    font-weight: 900;
}